<p>
    {{ AU_VERSION_WIKI }} : {{ wikiVersion }}
</p>
<p>
    {{ AU_VERSION_REPO }} : {{ repoVersion }}
</p>

{% if isAdmin and isNewVersion %}
    <p> {{ AU_WARNING }} </p>
    <a  href="{{ link }}"
        class="btn btn-primary" title="{{ AU_UPDATE }}">
        {{ AU_UPDATE }}
    </a>
{% endif %}

{% if isAdmin and not isNewVersion %}
    <a  href="{{ link }}"
        class="btn btn-warning" title="{{ AU_FORCE_UPDATE }}">
        {{ AU_FORCE_UPDATE }}
    </a>
{% endif %}
