<h2>Thèmes</h2>
<table class="table table-striped table-condensed">
    <tr>
        <th>Nom</th>
        <th>Version installée</th>
        <th>Version disponible</th>
        <th></th>
  </tr>
      {% for theme in themes %}
        <tr>
            <td>
                {{ theme.name() }}
            </td>
            <td>
                {% if theme.installed() %}
                    {{ theme.localRelease() }}
                {% else %}
                    {{ AU_ABSENT }}
                {% endif %}
            </td>
            <td>
                {{ theme.release() }}
            </td>
            <td>
                {% if isAdmin and theme.updateAvailable() and theme.installed() %}
                    <a  href="{{ theme.updateLink() }}"
                        class="btn btn-primary btn-sm"
                        title="{{ AU_UPDATE }}"
                    >
                        {{ AU_UPDATE }}
                    </a>
                {% endif %}

                {% if isAdmin and theme.installed() and not theme.updateAvailable() %}
                    <a  href="{{ theme.updateLink() }}"
                        class="btn btn-warning btn-sm"
                        title="{{ AU_FORCE_UPDATE }}"
                    >
                        {{ AU_FORCE_UPDATE }}
                    </a>
                {% endif %}

                {% if isAdmin and not theme.installed() %}
                    <a  href="{{ theme.updateLink() }}"
                        class="btn btn-primary btn-sm"
                        title="{{ AU__INSTALL }}"
                    >
                        {{ AU_INSTALL }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
