<h2>Tools (extensions)</h2>
<table class="table table-striped table-condensed">
    <tr>
        <th>Nom</th>
        <th>Version installée</th>
        <th>Version disponible</th>
        <th></th>
  </tr>
      {% for tool in tools %}
        <tr>
            <td>
                {{ tool.name }}
            </td>
            <td>
                {% if tool.installed %}
                    {{ tool.localRelease }}
                {% else %}
                    {{ AU_ABSENT }}
                {% endif %}
            </td>
            <td>
                {{ tool.release }}
            </td>
            <td>
                {% if isAdmin and tool.updateAvailable and tool.installed %}
                    <a  href="{{ baseUrl }}{{ tool.updateLink }}"
                        class="btn btn-primary btn-sm"
                        title="{{ AU_UPDATE }}"
                    >
                        {{ AU_UPDATE }}
                    </a>
                {% endif %}

                {% if isAdmin and not tool.updateAvailable and tool.installed %}
                    <a  href="{{ baseUrl }}{{ tool.updateLink }}"
                        class="btn btn-success btn-sm"
                        title="{{ AU_FORCE_UPDATE }}"
                    >
                        {{ AU_FORCE_UPDATE }}
                    </a>
                {% endif %}

                {% if isAdmin and not tool.installed %}
                    <a  href="{{ baseUrl }}{{ tool.updateLink }}"
                        class="btn btn-warning btn-sm"
                        title="{{ AU_INSTALL }}"
                    >
                        {{ AU_INSTALL }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% if isAdmin and tool.installed %}
                    <a  href="{{ baseUrl }}{{ tool.deleteLink }}"
                        class="btn btn-danger btn-sm"
                        title="{{ AU_DELETE_EXT }}"
                    >
                        {{ AU_DELETE_EXT }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
